@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:700|Exo+2:300,600);
body {
  font-family: "Exo 2", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 300;
  font-size: 1.0em;
  line-height: 1.2em;
  background: rgba(34, 33, 33, 0.6);
  color: #475B62;
}
 
strong {
  font-weight: 600;
}
 
h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 700;
  color: #2B4A83;
  font-size: 3em;
  margin-bottom: 0.8em;
  text-align:center;
  width: 100%;
}
 
p {
  margin-bottom: .5em;
  color: white;

}
 
.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  margin-top:30px;
  text-align:center;
}
 
@media all and (max-width: 500px) {
  h2 {
    padding-left: 10px;
    text-align: center;
  }
  .container {
    width: 100%;
  }
}
 
#graphic {
  margin: 0 auto;
}