@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:700|Exo+2:300,600);
body {
  font-family: "Exo 2", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 300;
  font-size: 1.0em;
  line-height: 1.2em;
  background: hsl(0, 0%, 20%);
  font-color: white;
}
 
strong {
  font-weight: 600;
}
 
h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 700;
  color: #2B4A83;
  font-size: 0.9em;
  margin-bottom: 0.8em;
  text-align:center;
  width: 100%;
}
 
p {
  margin-bottom: .5em;
  color: white;
  font-size: 6em;

}
 
#graphic {
  margin: 0 auto;
}


.node circle {
  fill: white;
}

.node text {
  font: 10px sans-serif;
}

.node--internal circle {
  fill: white;
}

.link {
  fill: none;
  stroke: #555;
  stroke-opacity: 1;
  stroke-width: 1.5px;
}

.tooltip {
    position: absolute;
    padding: 10px 10px;
    background: white;
    opacity: 1;
    font-size: 14px;
    font-family: 'Roboto Slab';
    height: 700px;
    margin-top: 10px;
    line-height: 110%;
    float: right;
}

#graph {
  margin-top: -200px;

}

